<script src="../scripts/app.js"></script>
<div ng-controller="EntityTypesController as ctrl">
    <h2 class="pb-2">
        Entity Types
    </h2>
    <div ng-if="ctrl.entityTypes">
        <ul class="list-group">
            <li class="list-group-item row d-flex">
                <div class="col-4">Name</div>
                <div class="col-8">Description</div>
            </li>
            <li class="list-group-item row d-flex" ng-repeat="item in ctrl.entityTypes">
                <div class="col-4"><a ui-sref="entityTypeDetails({entityType: item.name})">{{item.name}}</a></div>
                <div class="col-8" ng-bind-html="item.description"></div>
            </li>
        </ul>
    </div>
</div>